.idea/
.git/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/htmlcov/
**/.DS_Store
**/celerybeat-schedule
**/*.sqlite3
**/*.db
**/.env*
*.py[cod]
docker-compose.*
.gitignore
.python-version
Taskfile.yml
.docker
.deploy
.gitlab-ci
.taskfiles
flake-report
